*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popping",sans-serif;
}

body{
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("log.jpg") no-repeat center center/cover;
}

.wrapeer{
    width: 420px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px 40px;
    color: #54ce0d;
}

.wrapeer h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(223, 42, 42, 0.4);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #150606;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder{
    color: #000000;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50px;
    transform: translateY(50%)
    font-size 18px;
}

.remember-forget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 15px 0;
}

.remember-forget label input{
    accent-color: #c61818;
    margin-right: 5px;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #1ccd83;
    border: none;
    outline: none;
    border-radius: 40px;
    box-sizing: 16px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.register-link p{
    color: #9c3c3c;
}
